# **INTEGRANTES - GRUPO LEADTECH**

- Bianca Leticia Roman Caldeira - RM: 552267 - Turma: 2TDSPH
- Charlene Aparecida Estevam Mendes Fialho - RM: 552252 - Turma: 2TDSPH
- Lais Alves da Silva Cruz - RM: 552258 - Turma: 2TDSPH
- Fabricio Torres Antonio - RM: 97916 - Turma: 2TDSPH
- Lucca Raphael Pereira dos Santos - RM: 99675 - Turma: 2TDSPH

# **Análise de Crédito - Resolução**

> Utilização de deep analytics e machine learning para solução de um problema.

### ***Descrição :***
Neste notebook, apresentamos uma análise abrangente sobre os desafios enfrentados pela ABX Tecnologia no processo de análise de crédito de seus clientes. Abordamos questões como padronização da análise de crédito, classificação automática de clientes e automação da recomendação de crédito. Utilizamos técnicas de deep analytics e modelos de machine learning para propor soluções eficazes que visam melhorar a eficiência e a precisão da análise de crédito. Este notebook oferece insights valiosos e soluções práticas para aprimorar o processo de tomada de decisão da ABX Tecnologia no que diz respeito à concessão de crédito.

### ***Objetivos :***
1. Padronização da Análise de Crédito.
2. Classificação Automática de Clientes.
3. Automação da Recomendação de Crédito.

## ***Importação das bibliotecas***
Nesta seção, importamos as bibliotecas Python necessárias para realizar a análise.

In [4]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## ***Carregamento dos Dados***

Nesta seção, carregamos os dados fornecidos.

In [5]:
# Adicionando url do dataset
url = '../dataset/solicitacoescredito.csv'

# Carregando o conjunto de dados do arquivo CSV para um DataFrame
df = pd.read_csv(url)

In [6]:
# Visualize as primeiras linhas do dataset
df.head()

,numero_solicitacao,razaoSocial,nomeFantasia,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,primeiraCompra,prazoMedioRecebimentoVendas,titulosEmAberto,...,periodoDemonstrativoEmMeses,custos,anoFundacao,intervaloFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade,limiteEmpresaAnaliseCredito,dataAprovadoNivelAnalista
0,1,James Richardson-Patel,Alexandra Williams,KEBE17609492220843,0,0.252448,0.0,2015-12-10T00:00:00,0,0.00,...,12.0,0.0,2003.0,Acima de 17 anos,90000.0,False,True,1.0,43200.0,2020-02-03T20:57:33
1,2,Dr. Geoffrey Walsh,Mr. Darren Arnold,JRBK88908250677300,0,0.000000,NaN,2019-06-12T17:28:31,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN
2,3,Joanna Hudson,Dr. David Rees,GCVQ28531614261293,4,0.624777,0.0,2019-11-27T00:00:00,0,0.00,...,7.0,0.0,2014.0,De 6 a 10 anos,20000.0,False,True,1.0,4320.0,2020-02-04T16:40:49
3,4,Gordon Jones-Hopkins,Sara Reid-Robson,KJND32266018316396,20,0.000000,NaN,2017-02-13T17:20:27,0,0.00,...,12.0,0.0,2013.0,De 6 a 10 anos,30000.0,False,True,0.0,5920.0,2020-02-04T16:37:52
4,5,Nigel Lee,Dr. Stanley Duncan,CGQN15826802440348,20,0.454088,0.0,2010-07-13T00:00:00,20,1486.95,...,9.0,40680051.0,2002.0,Acima de 17 anos,75000.0,False,False,1.0,89000.0,2020-02-04T15:06:28

## ***Preparação dos Dados***

Nesta seção, realizamos as etapas iniciais de preparação dos dados, incluindo a limpeza, transformação e análise exploratória.

### *Análise Exploratória dos Dados*

Realizamos uma análise exploratória inicial dos dados para entender melhor sua estrutura, distribuição e características.

In [7]:
# Visualizando ultimas linhas
df.tail()

,numero_solicitacao,razaoSocial,nomeFantasia,cnpjSemTraco,maiorAtraso,margemBrutaAcumulada,percentualProtestos,primeiraCompra,prazoMedioRecebimentoVendas,titulosEmAberto,...,periodoDemonstrativoEmMeses,custos,anoFundacao,intervaloFundacao,capitalSocial,restricoes,empresa_MeEppMei,scorePontualidade,limiteEmpresaAnaliseCredito,dataAprovadoNivelAnalista
8968,9041,Leah Williams,Georgia Booth,YKGZ02907098931653,149,0.306580,0.0,2006-04-26T00:00:00,59,599964.04,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.990876,NaN,NaN
8969,9042,Mr. Jordan Stevens,Miss Ellie Kelly,UCBM91111020900951,23,0.329796,0.0,2016-08-03T00:00:00,0,0.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.958869,NaN,NaN
8970,9043,Mr. Barry Wells,Danielle Hudson,CLDB61185288622179,3,0.383919,0.0,2018-10-25T00:00:00,4,2933.38,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN
8971,9044,Keith Jones,Steven Kennedy-Jones,BRJP37453437154592,11,0.424099,0.0,2011-08-10T00:00:00,31,559679.98,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.994786,NaN,NaN
8972,9045,Cheryl Johnson,Chelsea Kay-Sinclair,COZD54939108010752,4,0.365041,0.0,2009-05-27T00:00:00,56,13640.01,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN

In [8]:
# Vendo types
df.dtypes

numero_solicitacao               int64
razaoSocial                     object
nomeFantasia                    object
cnpjSemTraco                    object
maiorAtraso                      int64
margemBrutaAcumulada           float64
percentualProtestos            float64
primeiraCompra                  object
prazoMedioRecebimentoVendas      int64
titulosEmAberto                float64
valorSolicitado                float64
status                          object
definicaoRisco                  object
diferencaPercentualRisco       float64
percentualRisco                float64
dashboardCorrelacao            float64
valorAprovado                  float64
dataAprovadoEmComite            object
periodoBalanco                  object
ativoCirculante                float64
passivoCirculante              float64
totalAtivo                     float64
totalPatrimonioLiquido         float64
endividamento                  float64
duplicatasAReceber             float64
estoque                        float64
faturamentoBruto               float64
margemBruta                    float64
periodoDemonstrativoEmMeses    float64
custos                         float64
anoFundacao                    float64
intervaloFundacao               object
capitalSocial                  float64
restricoes                      object
empresa_MeEppMei                object
scorePontualidade              float64
limiteEmpresaAnaliseCredito    float64
dataAprovadoNivelAnalista       object
dtype: object

In [9]:
# Vendo tamanho
df.shape

(8973, 38)

In [10]:
# Vendo informações
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8973 entries, 0 to 8972
Data columns (total 38 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   numero_solicitacao           8973 non-null   int64
 1   razaoSocial                  8973 non-null   object
 2   nomeFantasia                 8973 non-null   object
 3   cnpjSemTraco                 8973 non-null   object
 4   maiorAtraso                  8973 non-null   int64
 5   margemBrutaAcumulada         8973 non-null   float64
 6   percentualProtestos          7475 non-null   float64
 7   primeiraCompra               8867 non-null   object
 8   prazoMedioRecebimentoVendas  8973 non-null   int64
 9   titulosEmAberto              8973 non-null   float64
 10  valorSolicitado              8973 non-null   float64
 11  status                       8973 non-null   object
 12  definicaoRisco               8973 non-null   object
 13  diferencaPercentualRisco     8973 non-null   float64
 14  percentualRisco              8973 non-null   float64
 15  dashboardCorrelacao          8973 non-null   float64
 16  valorAprovado                7569 non-null   float64
 17  dataAprovadoEmComite         558 non-null    object
 18  periodoBalanco               4733 non-null   object
 19  ativoCirculante              4733 non-null   float64
 20  passivoCirculante            4733 non-null   float64
 21  totalAtivo                   4733 non-null   float64
 22  totalPatrimonioLiquido       4733 non-null   float64
 23  endividamento                4733 non-null   float64
 24  duplicatasAReceber           4733 non-null   float64
 25  estoque                      4733 non-null   float64
 26  faturamentoBruto             8223 non-null   float64
 27  margemBruta                  8223 non-null   float64
 28  periodoDemonstrativoEmMeses  8223 non-null   float64
 29  custos                       8223 non-null   float64
 30  anoFundacao                  8228 non-null   float64
 31  intervaloFundacao            8228 non-null   object
 32  capitalSocial                8228 non-null   float64
 33  restricoes                   8228 non-null   object
 34  empresa_MeEppMei             8228 non-null   object
 35  scorePontualidade            8973 non-null   float64
 36  limiteEmpresaAnaliseCredito  8228 non-null   float64
 37  dataAprovadoNivelAnalista    7011 non-null   object
dtypes: float64(23), int64(3), object(12)
memory usage: 2.6+ MB

In [11]:
# Vendo dados descritivos
df.describe()

,numero_solicitacao,maiorAtraso,margemBrutaAcumulada,percentualProtestos,prazoMedioRecebimentoVendas,titulosEmAberto,valorSolicitado,diferencaPercentualRisco,percentualRisco,dashboardCorrelacao,...,duplicatasAReceber,estoque,faturamentoBruto,margemBruta,periodoDemonstrativoEmMeses,custos,anoFundacao,capitalSocial,scorePontualidade,limiteEmpresaAnaliseCredito
count,8973.000000,8973.000000,8973.000000,7475.000000,8973.000000,8.973000e+03,8.973000e+03,8973.000000,8973.000000,8973.000000,...,4.733000e+03,4.733000e+03,8.223000e+03,8.223000e+03,8223.000000,8.223000e+03,8228.000000,8.228000e+03,8973.000000,8.228000e+03
mean,4550.042015,24.642594,0.362176,0.019260,23.083027,6.487101e+04,7.492436e+05,0.750321,0.249679,0.047236,...,1.663397e+07,1.523956e+07,5.597420e+07,1.620988e+07,10.377356,2.839061e+07,2006.027467,1.121453e+07,0.798346,2.851017e+06
std,2603.485853,66.180793,0.201455,0.593579,68.177649,2.482852e+05,2.261875e+07,0.146058,0.146058,0.472476,...,2.979029e+08,8.383792e+07,3.344357e+08,1.163482e+08,3.220965,2.072148e+08,19.424120,9.742853e+07,0.379186,2.672324e+07
min,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000e+00,1.000000e+02,0.207547,0.000000,-0.999990,...,-2.278071e+07,-2.632260e+05,0.000000e+00,-6.148721e+08,1.000000,-3.466338e+08,1000.000000,0.000000e+00,0.000000,0.000000e+00
25%,2316.000000,3.000000,0.281395,0.000000,0.000000,0.000000e+00,2.500000e+04,0.642857,0.142857,0.000000,...,3.920500e+04,1.712860e+05,1.191995e+06,0.000000e+00,11.000000,0.000000e+00,2000.000000,5.000000e+04,0.887479,7.360000e+03
50%,4559.000000,6.000000,0.402895,0.000000,0.000000,0.000000e+00,5.000000e+04,0.750000,0.250000,0.000000,...,1.088164e+06,1.063783e+06,3.599483e+06,0.000000e+00,12.000000,0.000000e+00,2009.000000,1.000000e+05,1.000000,4.860000e+04
75%,6802.000000,22.000000,0.507860,0.000000,30.000000,1.725000e+04,1.200000e+05,0.857143,0.357143,0.000000,...,6.576243e+06,5.493839e+06,1.584222e+07,3.357474e+06,12.000000,4.520907e+06,2015.000000,5.000000e+05,1.000000,3.450000e+05
max,9045.000000,1265.000000,1.000000,36.983728,1605.000000,3.938590e+06,1.500000e+09,1.000000,0.792453,0.999990,...,2.009358e+10,1.293428e+09,6.426115e+09,3.366843e+09,12.000000,4.393536e+09,2020.000000,4.100000e+09,1.000000,1.974261e+09

numero_solicitacao                0
razaoSocial                       0
nomeFantasia                      0
cnpjSemTraco                      0
maiorAtraso                       0
margemBrutaAcumulada              0
percentualProtestos            1498
primeiraCompra                  106
prazoMedioRecebimentoVendas       0
titulosEmAberto                   0
valorSolicitado                   0
status                            0
definicaoRisco                    0
diferencaPercentualRisco          0
percentualRisco                   0
dashboardCorrelacao               0
valorAprovado                  1404
dataAprovadoEmComite           8415
periodoBalanco                 4240
ativoCirculante                4240
passivoCirculante              4240
totalAtivo                     4240
totalPatrimonioLiquido         4240
endividamento                  4240
duplicatasAReceber             4240
estoque                        4240
faturamentoBruto                750
margemBruta                     750
periodoDemonstrativoEmMeses     750
custos                          750
anoFundacao                     745
intervaloFundacao               745
capitalSocial                   745
restricoes                      745
empresa_MeEppMei                745
scorePontualidade                 0
limiteEmpresaAnaliseCredito     745
dataAprovadoNivelAnalista      1962
dtype: int64

### *Pré-processamento dos Dados*

Realizamos as etapas de pré-processamento necessárias para preparar os dados para modelagem, incluindo tratamento de valores ausentes, codificação de variáveis categóricas, normalização ou padronização de variáveis numéricas, entre outros.